<%= stylesheet_link_tag 'application' %>

<h1>Persons details</h1>
<table>
  <thead>
    <tr>
      <th>Person ID</th>
      <th>Person name</th>
      <th>Person email</th>
      <th>title</th>
      <th>age</th>
      <th>phone</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @person_detail&.person_id %></td>
        <td><%= @person&.name %></td>
        <td><%= @person&.email %></td>
        <td><%= @person_detail&.title %></td>
        <td><%= @person_detail&.age %></td>
        <td><%= @person_detail&.phone %></td>
      </tr>
  </tbody>
</table>
  <%= button_to 'Back', persons_path, method: :get%>
